




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Tilt Neon', cursive;
}

/* color code #64897E */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0964b;
}



.container{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 520px;
     background-color: #ffb219;
}


.home{
    width: 100%;
    height: 100%;
    background-image: url(imgs/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 2px 1px 10px rgb(72, 72, 72);
    padding: 20px;
    
}





   
 
  
  










.blur-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the background color and opacity as needed */
}