* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Tilt Neon', cursive;
    text-decoration: none;

}

/* color code #64897E */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 520px;
    /* background-color: #ffb219; */
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 1px rgb(52, 52, 52);
    outline: none;
}

/* Home page */
.home {
    width: 100%;
    height: 100%;
    background-image: url(imgs/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.home h4 {
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
    font-family: 'Tilt Neon', cursive;

    padding: 10px 0 0 20px;
}

.home>div:last-child {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
/* lets add button */
.btn {
    color: #64897E;
    background-color: white;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 8px white;

}


/* List page */
.taskContainer {
    background-color: #64897E;
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.3s linear;
    border-radius: 15px;
}

.liststyle {
    width: 293px;
}

.insidetask {
    width: 293px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* xmark */
.fa-x {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #64897E;
}

.heading {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
}

.title {

    margin-top: 10px;
    padding-left: 10px;
    color: white;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
}

.listContainer {
    margin-top: 5px;
    height: 75%;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;

}

.listContainer::-webkit-scrollbar {
    width: 0;
    background: none;
}

.listContainer li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #64897E;

}

/* for marked checked */
#done {
    background-color: #e89039;
    text-decoration: line-through;
    color: black;
}

.listContainer li span {
    position: absolute;
    right: 0px;
    font-size: 22px;
    color: #64897E;

    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;

}

.listContainer li span:hover {
    background-color: #ffb219;
    cursor: pointer;
    color: white;
}

.inputbox {
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 10px;
    bottom: 10px;

}

.input {
    width: 100%;
    padding-left: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.addTask {
    background-color: #ffb219;
    outline: none;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    color: white;

}


/* .blur-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    /* Adjust the blur intensity as needed */
    /* z-index: 998;
    background-color: rgba(0, 0, 0, 0.3); */
    /* Adjust the background color and opacity as needed */
/* }  */


@media screen and (max-width: 768px) {

    body {
        width: 100vw;
        height: 80vh;
    }

}

/* 
@media screen and (max-width: 768px) {

body{
    background-color: red;
}

.container {
        width: 354px;
        height: 629px;
}
.insidetask{
    width: 354px;
    height: 629px;
}
.listContainer{
   height: 79%;
}
.insidetask{
 
    width: 354px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
    
}
 */